p {
  font-family: helvetica;
  font-size: 18px;
}
.mainblock {
  background-color: #e4f5ef;
  margin: auto;
  width: 50%;
  padding: 10px;
}

body {
 background-image: url("../images/sketchbook-paper.jpg");
 background-repeat: no-repeat;
 background-size: 1920px 1080px;
}
